@page "/home"

<PageTitle>Home</PageTitle>

<div class="flex flex-col justify-center items-center text-center min-h-screen">
    <h1 id="home-typewriter">
        <Typewriter Texts="welcomeTexts" TypingSpeed="75" BackSpeed="35" PauseBetween="500" />
    </h1>
    <input type="text" placeholder="Your Letterboxd username..." class="main-input text-center px-4 py-2 rounded-pill">
</div>


@code {
    private string[] welcomeTexts = new[] { "Enter your Letterboxd username...", "Then flickpick." };
}