@page "/Login"

<PageTitle>Login</PageTitle>

<div class="flex flex-col justify-center items-center text-center min-h-screen">
    <h1 style="color: #e6ddcb;">Login</h1>
    <div class="login-inputs-container gap-3 m-5">
        <input type="text" placeholder="Username" class="login-input text-center px-3 py-2 rounded-pill">
        <input type="text" placeholder="Password" class="login-input text-center px-3 py-2 rounded-pill">
    </div>
    <button class="text-center px-3 py-2 rounded-pill">Login</button>
</div>

@code {
    
}