@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <a class="navbar-brand" href="">flickpick</a> *@
@* </div> *@
<nav class="nav flex-column">
    <div class="nav-item px-3">
        <NavLink class="p-4" href="home" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
            <span class="nav-text">Home</span>
        </NavLink>
        <NavLink class="p-4 mt-2" href="login" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
            <span class="nav-text">Login</span>
        </NavLink>
        <NavLink class="p-4 mt-2" href="profile" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
            <span class="nav-text">Profile</span>
        </NavLink>
    </div>
</nav>